body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #181717;
}
h2 , h3{
    color: aliceblue;
}
/* Carrusel */
.carousel-item {
    height: 350px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.75);
}
